<div *ngFor="let character of characters | async">
  <div> {{ character.name }}</div>
  <div> {{ character.height }}</div>
  <div> {{ character.mass }}</div>
  <div> {{ character.hair_color }}</div>
  <div> {{ character.skin_color }}</div>
  <div> {{ character.eye_color }}</div>
  <div> {{ character.birth_year }}</div>
  <div> {{ character.gender }}</div>
  <div> {{ character.homeworld }}</div>
  <div> {{ character.films }}</div>
  <div> {{ character.species }}</div>
  <div> {{ character.vehicles }}</div>
  <div> {{ character.starships }}</div>
</div>
